extends layout

append head
    link(rel='stylesheet', href='/stylesheets/field.css')

append page
    script(src='/js/fieldPage.js')

block content
    div#field("data-gameid"=game.game_id)
        div.field-item
            div.name #{game.started.name}
            div(class=["hangman-canvas", "turn-" + game.firstMistakes])
                div.hangman
                div.avatar
                    img(src=game.started.photo)
            div.word
                - for (var i in game.starterWord)
                    - if (game.starterWord[i] != "_")
                        span.letter #{game.starterWord[i]}
                    - else
                        span.letter &nbsp;
        div.field-item
            div.name #{game.opponent.name}
            div(class=["hangman-canvas", "turn-" + game.secondMistakes])
                div.hangman
                div.avatar
                    img(src=game.opponent.photo)
            div.word
                - for (var i in game.opponentWord)
                    - if (game.opponentWord[i] != "_")
                        span.letter #{game.opponentWord[i]}
                    - else
                        span.letter &nbsp;

        div.keyboard
            - for (var i in keyboard)
                span.letter #{keyboard[i]}



